<h2>Reactivos: Basicos</h2>
<hr>
<div class="row">
    <div class="col">
        <form autocomplete="off" (submit)="guardar()" [formGroup]="miFormulario">
            <!-- Campo de producto -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Producto</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre del producto">
                    <span class="form-text text-danger" *ngIf="validar('nombre')">Debe
                        ser
                        minimo
                        de tres
                        letras</span>
                </div>
            </div>

            <!-- Campo de precio -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" formControlName="precio"
                        placeholder="Precio del producto">
                    <span class="form-text text-danger" *ngIf="validar('precio')">El precio debe ser mayor o igual a
                        cero</span>
                </div>
            </div>

            <!-- Campo de existencias -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Existencias</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" formControlName="existencias"
                        placeholder="existencias del producto">
                    <span class="form-text text-danger" *ngIf="validar('existencias')">Las existencias debe ser mayor o
                        igual a
                        cero</span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary float-end">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col">

        <span>Valid</span>
        <pre>{{ miFormulario.valid }}</pre>

        <span>Pristine</span>
        <pre>{{ miFormulario.pristine }}</pre>

        <span>Touched</span>
        <pre>{{ miFormulario.touched }}</pre>

        <span>Value</span>
        <pre>{{ miFormulario.value | json}}</pre>
    </div>
</div>