<h2>Reactivo <small>Switches</small></h2>
<hr>

<form [formGroup]="miFormulario" (ngSubmit)="guardar()">
    <!-- Radio -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Genero</label>
        <div class="col-sm-9">
            <div class="form-check">
                <input class="form-check-input" formControlName="genero" value="M" type="radio" id="masculioRadio">
                <label class="form-check-label" for="masculioRadio">
                    Masculino
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" formControlName="genero" value="F" type="radio" id="femeninoRadio">
                <label class="form-check-label" for="femeninoRadio">
                    Femenino
                </label>
            </div>
        </div>
    </div>
    <!-- Switch -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"> Notificaciones </label>
        <div class="col-sm-9">
            <div class="form-check form-switch mt-2">
                <input class="form-check-input" type="checkbox" formControlName="notificaciones" role="switch"
                    id="flexSwitchCheckChecked">
                <label class="form-check-label" for="flexSwitchCheckChecked">Quiero recibir notificaciones</label>
            </div>
        </div>
    </div>
    <!-- Checks -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Términos y condiciones
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary float-end">Guardar</button>
        </div>
    </div>
</form>