<h2>Reactivos: <small>Dinamicos</small></h2>
<hr>
<form autocomplete="off" (submit)="guardar()" [formGroup]="miFormulario">
    <!--Nombre-->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombres</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre de la persona">
            <span class="form-text text-danger" *ngIf="validar('nombre')">este campo es
                obligatorio</span>
        </div>
    </div>
    <!-- Agregar favorito -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Agregar favorito">
                <button class="btn btn-outline-primary" type="button">
                    Agregar
                </button>
            </div>
        </div>
    </div>
    <!--Lista de juegos favoritos -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label ">Favoritos</label>
        <div class="col-sm-9">
            <div class="input-group mb-1">
                <input type="text" class="form-control">
                <button class="btn btn-outline-danger">Eliminar</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button type="button" (click)="guardar()" class="btn btn-primary float-end">
                Guardar
            </button>
        </div>
    </div>
</form>